/target
/output/
node_modules/
/apps/mobile/src/androidMain/jniLibs/
/tmp*-IMG_*.png
/tmp*-ScreenRecording_*.mp4
/.gradle/
/.kotlin/
/.idea/
**/build/
*.xcuserstate
xcuserdata/
.DS_Store
local.properties
